# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


newServer/1-127.0.0.1
newServer/12-127.0.0.1
newServer/2-127.0.0.1
newServer/ishan-127.0.0.1
newServer/server
server/1-127.0.0.1
server/12-127.0.0.1
server/2-127.0.0.1
server/3-127.0.0.1
server/Debug/
server/chatServer
client/client
